<nav class="navbar fixed-bottom navbar-dark bg-dark d-lg-none">
	<div class="container-fluid">
		<div class="col text-center" [routerLink]="['/my-workouts']" [routerLinkActive]="['active']"><fa-icon [icon]="faDumbbell"></fa-icon></div>
		<div class="col text-center" [routerLink]="['/tracker']" [routerLinkActive]="['active']"><fa-icon [icon]="faWeight"></fa-icon></div>
		<div class="col text-center" [routerLink]="['/progress']" [routerLinkActive]="['active']"><fa-icon [icon]="faChartLine"></fa-icon></div>
		<div class="col text-center" [routerLink]="['/settings']" [routerLinkActive]="['active']"><fa-icon [icon]="faGears"></fa-icon></div>
	</div>
</nav>