








<div class="card mb-4">
    <div class="card-header d-flex justify-content-between text-white">
        <span>1A</span>
        <span class="float-end">Single Arm Seated Row</span>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <p class="w-100 text-center">Set 1</p>
                <input type="tel" class="form-control text-center" placeholder="20">
                <div class="w-100 text-center">X</div>
                <input type="tel" class="form-control text-center" placeholder="12">
            </div>
            <div class="col-3">
                <p class="w-100 text-center">Set 2</p>
                <input type="tel" class="form-control text-center" placeholder="20">
                <div class="w-100 text-center">X</div>
                <input type="tel" class="form-control text-center" placeholder="12">
            </div>
            <div class="col-3">
                <p class="w-100 text-center">Set 3</p>
                <input type="tel" class="form-control text-center" placeholder="22">
                <div class="w-100 text-center">X</div>
                <input type="tel" class="form-control text-center" placeholder="10">
            </div>
            <div class="col-3 text-center">
                <p class="w-100">Set 4</p>
                <input type="tel" class="form-control text-center" placeholder="22">
                <div class="w-100 text-center">X</div>
                <input type="tel" class="form-control text-center" placeholder="9">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted" (click)="is_visible = !is_visible">
        <u>Notes</u>
        <p *ngIf="is_visible">This is example text for notes related to an exercise</p>
    </div>
</div>