<h1 class="h1 mb-3">Full Body 1</h1>

<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">1a</span>
        Seated DB Overhead Press
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">2a</span>
        Neutral Grip Lat Pulldown
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">3a</span>
        Smith Incline Press
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">4a</span>
        Leg Extension
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">4b</span>
        Lying Leg Curl
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">5a</span>
        Dual Rope Kneeling Pushdown
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">5b</span>
        Rope Face Pull
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">5b</span>
        Rope Face Pull
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">5b</span>
        Rope Face Pull
    </div>
</div>
<div class="card my-2">
    <div class="card-body">
        <span class="badge bg-warning rounded-pill me-3">5b</span>
        Rope Face Pull
    </div>
</div>
<!-- <app-exercise></app-exercise>
    <app-exercise></app-exercise>
    <app-exercise></app-exercise>
    <app-exercise></app-exercise>
    <app-exercise></app-exercise>
</div> -->